

//custom variables
//colors
$primary:#5265E1;
$secondary:#FA5959;
$menu: #2f354f;
//fonts
$rubik: 'Rubik', sans-serif;
$noto: 'Noto Sans', sans-serif;

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';


//mixins
@mixin buton-outline ($color){
    background-color: white;
    border-color: $color;
    color: $color;
    border: 2px solid;
}
body {
    font-family: $rubik !important;
}
.btn {
    font-family: $noto !important;
}
//navbar
.navbar-collapse.show {
    justify-content: center;

}
.nav-link {
    font-size: 15px;
    color:black;
    &:hover{
        color: $secondary !important;
    }
}
.btn-secondary {
    font-family: $noto !important;
    font-size: 13px;
    font-weight: 600 !important;
    color:white;
    &:hover {
        @include buton-outline($secondary);
    }
}
.navbar-toggler {
    width: 2rem;
    height: 2rem;
    position: relative;

    &:focus, &:active, &-icon:focus {
        outline: none;
        box-shadow: none;
        border: 0;
    }
    span {
        margin: 0;
        padding: 0;
    }
    .top-bar {
        margin-top: 0px;
        transform: rotate(135deg);
    }
    .middle-bar {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .bottom-bar {
        margin-top: 0px;
        transform: rotate(-135deg);
    }
    &.collapsed {
        .top-bar {
            margin-top: -20px;
            transform: rotate(0deg);
        }
        .middle-bar {
            opacity: 1;
            filter: alpha(opacity=100);
        }
        .bottom-bar {
            margin-top: 20px;
            transform: rotate(0deg);
        }
    }
}
.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background:rgb(0, 0, 0);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
}

.middle-bar {
    margin-top: 0px;
}

.navbar-collapse {
    &.show {
        background-color: rgba($menu, .9);
        height: 100vh;
        width: 100%;
        position: fixed;
        top:0;
        right: 0;
        z-index: 3;

        .toggler-icon {
            position: fixed;
            top: 6rem;
            right: 6rem;
            z-index: 5;
        }
        .navbar-nav {
            width: 100%;
            position:absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .nav-item{
            width:90%;
            color: white;
            font-size: 22px;
            padding: 0.5rem;
            border-top: 0.5px solid;

        }
        .nav-link {
            color: white;
            
            &:hover {
                color: rgb(207, 206, 206) !important;
            }
        }
        .btn-intro {
            margin-top: 10px;
            background-color: $menu;
            border-color: white;
            color: white;
            border: 2px solid;
            width: 100%;
            
            &:hover {
                background-color: white;
                color: $menu;

            }
        }

    }
}

//section intro
section {
    padding:6rem;
}
h1{
    font-weight: 400 !important;
}

.intro-img{
    position: relative;

    &-tab {
        position:absolute;
        z-index: 2;
        background: linear-gradient(rgb(97, 97, 97), rgb(0, 0, 0)) padding-box,
        linear-gradient(to right, rgb(97, 97, 97), rgb(0, 0, 0)) border-box;
        border-radius: 2rem;
        border: 0.8rem solid transparent;
    }
}
#forma {
    position:relative;
    z-index: 1;
    top:7rem;
    left:11rem;
    height: 24rem;
    width: 100%;
}

.subtext-intro{
    width:90%;
}
.btn-primary {
    &:hover {
    @include buton-outline($primary);
    }
}
.btn-light {
    &:hover {
       background-color: white;
       border: 2px solid;

    }
}


//Features section

.img-features {
    position: relative;

    &-bookmarking {
        position:absolute;
        z-index: 2;
    }
}
.forma {
    position:relative;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    top:6rem;
    right: 16rem;
    height: 24rem;
    width: 100%;
}

.nav-tabs{
    border-bottom:2px solid $light !important;
}
.nav-link{
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    &.active{
        border-bottom:3px solid $secondary !important;
        color: $secondary !important;
    }
    &:hover, &:focus{
        color:$secondary;
    }
} 
.subtext-features {
    width:90%
}
.subtext-title {
    // width:30%;
}