@import '/node_modules/bootstrap/scss/utilities';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';

//custom variables
//colors
$primary:#5265E1;
$secondary:#FA5959;
//fonts
$rubik: 'Rubik', sans-serif;
$noto: 'Noto Sans', sans-serif;


//navbar
.nav-item {
    font-family: $rubik;
    font-size: 15px;
}
#login {
    padding: 1rem;
    color:white;
}
//section intro
section {
    padding:6rem;
}
h1{
    font-family: $rubik;
    font-weight: 400;
}
p{
    font-family: $rubik;
}
.intro-img{
    position: relative;

    &-tab {
        position:absolute;
        z-index: 2;
        background: linear-gradient(rgb(97, 97, 97), rgb(0, 0, 0)) padding-box,
        linear-gradient(to right, rgb(97, 97, 97), rgb(0, 0, 0)) border-box;
        border-radius: 2rem;
        border: 0.8rem solid transparent;
    }
}
#forma {
    position:relative;
    z-index: 1;
    top:7rem;
    left:9rem;
}

.btn-intro {
    font-family: $noto;
    font-weight: 400;
}


//Features section

.img-features {
    position: relative;

    &-bookmarking {
        position:absolute;
        z-index: 2;
    }
}
.forma {
    position:relative;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    top:6rem;
    right: 19rem;
}
//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';